.container{
    width: 100%;
    height: 100%;
}

.child-content{
    width: 100%;
    display:flex;
    justify-content: space-around;
}

.form-inputs{
    width: 100%;
    display: flex;
}

.actions{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}