<div class="container">
    <div class="child-content">
        <div class="transaction-tile">
            <h1>{{singleTransaction.reason}}</h1>
            <p><span>Balance: Rs</span>{{singleTransaction.availableBalance}}</p>
            <div class="tile-footer">
                <div class="date">
                    <p>{{singleTransaction.dateOfTransaction}}</p>
                </div>
                <div class="credit-debit">
                    <p>{{singleTransaction.amountCreditedOrDebited}}</p>
                </div>
            </div>

        </div>
    </div>
</div>
