.container{
    width: 100%;
    height: 100%;
}

.child-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.navigation{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
}

.transactions{
    padding: 10px;
}